<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">

  <div >
 <% @projects.each do |project| %>
     <h2>  <%= link_to project.name, project%></h2>
     <% tasks = project.tasks %>

     <%= render partial: 'tasks/tasklist', :locals => {:@tasks => tasks}%>

  <% end %>
</div>
</div>
<%= link_to "New project", new_project_path %>
